<footer>
    <div class="wrapper">
        <div class="inner">
            <div class="grid">
                <div class="grid__item large--nine-twelfths">
                    <div class="footer-contact">
                        <a href="/" class="footer-logo">
                            <img src="/img/footer-logo.png" alt="Suplo Company" />
                        </a>
                        <p style="text-transform: uppercase; margin-bottom: 5px">
                            <%- i18n.__("company_name") %>
                        </p>
                        <p>
                            <i class="fa fa-map-marker fa-2x"></i>
                             <span><%- i18n.__("company_address") %></span>
                        </p>
                        <p>
                                <i class="fa fa-phone fa-2x"></i>
                            <span href="tel:02513566872">0251-3566872</span>
                        </p>
                        <p>
                                <i class="fa fa-envelope-o fa-2x"></i>
                            <a href="mailto:info@henglivn.com">info@henglivn.com</a>
                        </p>
                        <p>
                                <i class="fa fa-globe fa-2x"></i>
                            <a href="http://www.henglivn.com">http://www.henglivn.com</a>
                        </p>
                    </div>
                </div>
                
                <div class="grid__item large--three-twelfths">
                    <div class="footer-nav">
                        <p class="footer-title">
                            <%- i18n.__("links") %>
                        </p>
                        <ul class="no-bullets">

                            <li><a href="/" title="Home"><%- i18n.__("nav_home") %></a></li>
                            <li><a href="/about/introduction" title="About Us"><%- i18n.__("nav_about") %></a></li>
                            <li><a href="/products" title="Products"><%- i18n.__("nav_products") %></a></li>
                            <li><a href="/news" title="News"><%- i18n.__("nav_news") %></a></li>
                            <li><a href="/recruitment" title="Recruitment"><%- i18n.__("nav_recruitment") %></a></li>
                            <li><a href="/csr" title="CSR"><%- i18n.__("nav_csr") %></a></li>
                            <li><a href="/contact" title="Contact"><%- i18n.__("nav_contact") %></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section id="copyright">
    <div class="wrapper">
        <div class="inner">
            <p>
                Copyrights © 2018 by HENG LI (VIET NAM) BATTERY TECHNOLOGY CO., LTD
            </p>
        </div>
    </div>
</section>