<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

    <body>
        <% include partials/header %>

            <!-- Section Breadcumb -->
            <section id="breadcrumb">
                <div class="wrapper">
                    <div class="inner">
                        <div class="breadcrumb-content">
                            <p class="breadcrumb-title">
                                <%= i18n.__("nav_news")%>
                            </p>
                            <a href="/" title="Quay trở về trang chủ">
                                <%= i18n.__("nav_home")%>
                            </a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span>
                                <%= i18n.__("nav_news")%>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- \\Breadcumb -->

            <main class="main-content" role="main">
                <section id="blog-main-content" class="mg-bottom0">
                    <div class="wrapper">

                        <div class="inner">
                            <h1 class="seo-h1">
                                Tin tức
                            </h1>
                            <div class="grid">
                                <div class="grid__item large--twelfths-twelfths">
                                    <div class="list-articles">
                                        <div class="grid">

                                            <div class="grid__item large--four-twelfths">
                                                <a href="/news/product-quality-symposium" class="mini-article">
                                                    <div class="mini-article-img">
                                                        <img src="/img/news2.jpg" alt="Product Quality Symposium" />
                                                    </div>
                                                    <p class="mini-article-title">
                                                        <%= i18n.__("Product Quality Symposium")%>
                                                    </p>
                                                    <p>
                                                        <span class="tag">
                                                            <%= i18n.__("nav_news")%>
                                                        </span>
                                                        <span class="createDate">
                                                            <%= i18n.__("posted in")%>: 04-04-2018
                                                                <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                                    </p>
                                                    <div class="rte">
                                                        <p class="mini-article-desc">
                                                            <%= i18n.__("product_quality_symposium_intro")%>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="grid__item large--four-twelfths">
                                                <a href="/news/our-company-is-in-the-new-modernization-factory" class="mini-article">
                                                    <div class="mini-article-img">
                                                        <img src="/img/news1.jpg" alt="Our company is in the new modernization factory" />
                                                    </div>
                                                    <p class="mini-article-title">
                                                        <%= i18n.__("Our company is in the new modernization factory")%>
                                                    </p>
                                                    <p>
                                                        <span class="tag">
                                                            <%= i18n.__("nav_news")%>
                                                        </span>
                                                        <span class="createDate">
                                                            <%= i18n.__("posted in")%>: 03-09-2018
                                                                <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                                    </p>
                                                    <div class="rte">
                                                        <p class="mini-article-desc">
                                                            <%= i18n.__("our_company_is_intro")%>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="grid__item large--four-twelfths">
                                                <a href="/news/our-new-factory-in-vn-is-in-production" class="mini-article">
                                                    <div class="mini-article-img">
                                                        <img src="/img/03a.jpg" alt="Our new factory in Vietnam is in production" />
                                                    </div>
                                                    <p class="mini-article-title">
                                                        <%= i18n.__("Our new factory in Vietnam is in production")%>
                                                    </p>
                                                    <p>
                                                        <span class="tag">
                                                            <%= i18n.__("nav_news")%>
                                                        </span>
                                                        <span class="createDate">
                                                            <%= i18n.__("posted in")%>: 03-09-2018
                                                                <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                                    </p>
                                                    <div class="rte">
                                                        <p class="mini-article-desc">
                                                            <%= i18n.__("our_new_factory_intro")%>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="pagination-custom">
                                        <!-- <span class="page current">1</span>
                                        <span class="page">
                                            <a href="/blogs/news?page=2">2</a>
                                        </span>
                                        <span class="nextPage">
                                            <a href="/blogs/news?page=2">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </span> -->
                                    </div>
                                </div>

                            </div>

                            <div class="grid">
                                <div class="grid__item large--twelfths-twelfths">
                                    <div class="list-articles">
                                        <div class="grid">

                                            <div class="grid__item large--four-twelfths">
                                                <a href="/news/year-end-party-2017" class="mini-article">
                                                    <div class="mini-article-img">
                                                        <img src="/img/news/year-end-2017/IMG_0056.jpg" alt="Year End Party 2017" />
                                                    </div>
                                                    <p class="mini-article-title">
                                                        <%= i18n.__("yep-2017")%>
                                                    </p>
                                                    <p>
                                                        <span class="tag">
                                                            <%= i18n.__("nav_news")%>
                                                        </span>
                                                        <span class="createDate">
                                                            <%= i18n.__("posted in")%>: 04-28-2018
                                                                <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                                    </p>
                                                    <div class="rte">
                                                        <p class="mini-article-desc">
                                                            <%= i18n.__("yep-2017-desc")%>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="grid__item large--four-twelfths">
                                                    <a href="/news/new-year-opening-2018" class="mini-article">
                                                        <div class="mini-article-img">
                                                            <img src="/img/news/new-year-2018/IMG_0162.jpg" alt="New Year Opening 2018" />
                                                        </div>
                                                        <p class="mini-article-title">
                                                            <%= i18n.__("opening-2018")%>
                                                        </p>
                                                        <p>
                                                            <span class="tag">
                                                                <%= i18n.__("nav_news")%>
                                                            </span>
                                                            <span class="createDate">
                                                                <%= i18n.__("posted in")%>: 04-28-2018
                                                                    <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                                        </p>
                                                        <div class="rte">
                                                            <p class="mini-article-desc">
                                                                <%= i18n.__("opening-2018-desc")%>
                                                            </p>
                                                        </div>
                                                    </a>
                                                </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                </section>
            </main>
            <% include partials/footer %>
                <% include partials/scripts %>e
    </body>

</html>