<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title"><%= i18n.__("cad designer")%></p>
                                <a href="/" title="Quay trở về trang chủ"><%= i18n.__("nav_home")%></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/recruitment" title=""><%= i18n.__("nav_recruitment")%></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span><%= i18n.__("cad designer")%></span>
                            </div>
                        </div>
                    </div>
                </section>
                <main class="main-content" role="main">
                    <section id="blog-main-content" style="margin-bottom: 0px;">
                        <div class="wrapper">
                            <div class="inner">
                                <div class="grid">
                                    <div class="grid__item large--eight-twelfths">
                                        <div class="article-content">
                                            <div class="article-content-img">
                                                <img style="width: 50%;" src="/img/recruitment.jpg" alt="" />
                                            </div>
                                            <p>
                                                <span class="tag"><%= i18n.__("nav_recruitment")%></span>
                                                <span class="createDate"><%= i18n.__("posted in")%>: 04-04-2018 <%= i18n.__("by")%>: <%= i18n.__("title")%></span>
                                            </p>
                                            <div class="rte" itemprop="articleBody">
                                               
                                                <h2>🔎 Nhân viên thiết kế AutoCad</h2>
                                                <p>------------------------------------------------</p>
                                                <p>💼 <b>Mô tả:</b></p>
                                                <p>- Lên ý tưởng, triển khai hình ảnh sản phẩm mới.</p>
                                                <p>- Vẽ bản vẽ kỹ thuật, chỉnh sửa hình ảnh</p>
                                                <p>- Sử dụng các phần mềm đồ họa Auto Cad 2D, 3D ...</p>
                                                <p>- Thực hiện các công việc khác do cấp trên giao</p>
                                                <p>- Công việc phát sinh thêm sẽ trao đổi khi phỏng vấn</p>
                                                
                                                <p>------------------------------------------------</p>
                                                <p>🖐 <b>Yêu cầu:</b></p>
                                                <p>- Sử dụng Autocad, phần mềm khác</p>
                                                <p>- Sử dụng máy tính thành thạo</p>
                                                <p>- Nhanh nhẹn trong công việc</p>
                                                <p>- Nam: Tuổi từ 25 đến 35</p>
                                                <p>- Tốt nghiệp Cao đẳng trở lên</p>
                                                <p>------------------------------------------------</p>
                                                <p>☝️ <b>Quyền lợi:</b></p>
                                                <p>- Được hưởng hưởng chính sách các chế độ của công ty và nhà nước quy định</p>
                                                <p>- Được đào tạo các kỹ năng cần thiết theo yêu cầu công việc</p>
                                                <p>- Môi trường làm việc năng động và thoải mái tạo điều kiện cho nhân viên sáng tạo, phát huy tối đa hiệu quả.</p>
                                                <p>- Hưởng các chế độ: cơm, làm thêm, đi lại, BHXH, BHYT… </p>
                                                <p>- Tăng lương theo thâm niên gắn bó với công ty</p>
                                                <p>- Được nghỉ CN, nghỉ phép, thưởng lễ, tết theo quy định của Công ty.</p>
                                                <p>- Có nhiều cơ hội thăng tiến.</p>
                                                <p>- Các quyền lợi khác theo quy định của luật lao động.</p>
                                                <p>------------------------------------------------</p>
                                                <p><b>Hạn nộp: 30-04-2018</b></p>
                                                <p>-------------------------------------------------</p>
                                                <p>Để biết thông tin nhiều hơn về chúng tôi:</p>
                                                <p>Liên hệ: chị Linh</p>
                                                <p>Số điện thoại: 0123456789</p>
                                                <p>Địa chỉ: Đường số 4, KCN Nhơn Trạch 3 - Giai đoạn 2, X.Long Thọ, H. Nhơn Trạch, T.Đồng Nai</p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>