<html lang="en">
                <% include ../partials/head %>
              
                <body id="ve-chung-toi" class="template-page">
                  <% include ../partials/header %>
                  <div id="PageContainer" class="is-moved-by-drawer">
                    <!-- Section Breadcumb -->
                    <section id="breadcrumb">
                      <div class="wrapper">
                        <div class="inner">
                          <div class="breadcrumb-content">
                            <p class="breadcrumb-title"><%= i18n.__("nav_about")%></p>
                            <a href="/about/introduction" title="Quay trở về trang chủ">
                              <%= i18n.__("nav_about")%>
                            </a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span> <%= i18n.__("timeline")%> </span>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!-- \\Breadcumb -->
              
                                 
                    <div class="frst-container">
                      
                          <!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
                          <div class="frst-timeline frst-timeline-style-2 frst-alternate frst-date-opposite" style="margin-bottom: 40px;">
                              
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date"></span>
                                          <h2><img src="/img/logo.png" alt=""></h2>
                                          <p><br></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">1996</span>
                                          <h2><%= i18n.__("timeline_1996_h")%></h2>
                                          <p><%= i18n.__("timeline_1996_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">1998</span>
                                          <h2><%= i18n.__("timeline_1998_h")%></h2>
                                          <p><%= i18n.__("timeline_1998_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2001</span>
                                          <h2><%= i18n.__("timeline_2001_h")%></h2>
                                          <p><%= i18n.__("timeline_2001_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2002</span>
                                          <h2><%= i18n.__("timeline_2002_h")%></h2>
                                          <p><%= i18n.__("timeline_2002_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2005</span>
                                          <h2><%= i18n.__("timeline_2005_h")%></h2>
                                          <p><%= i18n.__("timeline_2005_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2008</span>
                                          <h2><%= i18n.__("timeline_2008_h")%></h2>
                                          <p><%= i18n.__("timeline_2008_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2011</span>
                                          <h2><%= i18n.__("timeline_2011_h")%></h2>
                                          <p><%= i18n.__("timeline_2011_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2013</span>
                                          <h2><%= i18n.__("timeline_2013_h")%></h2>
                                          <p><%= i18n.__("timeline_2013_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2016</span>
                                          <h2><%= i18n.__("timeline_2016_h")%></h2>
                                          <p><%= i18n.__("timeline_2016_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2017</span>
                                          <h2><%= i18n.__("timeline_2017_h")%></h2>
                                          <p></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                              <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                                  <div class="frst-timeline-img"> <span></span> </div>
                                  <!-- frst-timeline-img -->
                                  <div class="frst-timeline-content">
                                      <div class="frst-timeline-content-inner"> <span class="frst-date">2018</span>
                                          <h2><%= i18n.__("timeline_2018_h")%></h2>
                                          <p><%= i18n.__("timeline_2018_p")%></p>
                                      </div>
                                      <!-- frst-timeline-content-inner -->
                                  </div>
                                  <!-- frst-timeline-content -->
                              </div>
                              <!-- frst-timeline-block -->
                          </div>
                          <!-- frst-timeline -->
                      </div>
                      <!-- .frst-container -->
              
                  <% include ../partials/footer %> 
                  <% include ../partials/scripts %>
                </body>
              </html>
