<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">CNFJ</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>CNFJ</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/cnfj.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/cnfj.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/cnfj.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <h3 itemprop="name">CNFJ Series (Energy Storage AGM Gel Battery) </h3>
                                        <span class="product-sku">
                                            <h1>Features:</h1>
                                            <ul>
                                                <li>
                                                    Capacity Range (C120): 200Ah-3000Ah (25 ℃)
                                                </li>
                                                <li>
                                                    Long cycle life: 20% DOD cycle times of 2V Series is more than 2200 (Under 25 ℃)
                                                </li>
                                                <li>
                                                    Self-discharge: ≤1% / month (25 ℃)
                                                </li>
                                                <li>
                                                    Efficiency of sealed reaction: ≥99%
                                                </li>
                                                <li>
                                                    Compact structure, anti-vibration performance and high energy density
                                                </li>
                                                <li>
                                                    Good performance in high and low temperature
                                                </li>
                                                <li>
                                                    Operating temperature range: -20 ~ 50 ℃
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="grid__item large--one-twelfths">
                                        <h1>Scope</h1>
                                        <ul>
                                            <li>Solar photovoltaic energy storage system</li>
                                            <li>Energy storage system of wind power</li>
                                        </ul>
                                        <hr>
                                        <h1>Main product models and parameters</h1>
                                        <div class="p_table table_scroll">
                                            <table class="table_box">
                                              <thead>
                                                <tr>
                                                  <th rowspan="2">Model</th>
                                                  <th rowspan="2">
                                                    NOMINAL <br />
                                                    VOLTAGE (V)
                                                  </th>
                                                  <th rowspan="2">CAPACITY (Ah)</th>
                                          
                                                  <th colspan="4">DIMENSION (mm)</th>
                                                  <th rowspan="2">
                                                    WEIGHT<br />
                                                    (KG)
                                                  </th>
                                                  <th colspan="2">Terminal</th>
                                                </tr>
                                                <tr>
                                                  <th>L</th>
                                                  <th>W</th>
                                                  <th>H</th>
                                                  <th>Total<br />Height</th>
                                          
                                                  <th>Model</th>
                                                  <th>Position</th>
                                                </tr>
                                              </thead>
                                              <tbody class="table01">
                                                <% for(var i=0; i < products.length; i++) { %>
                                                  <tr>
                                                    <td><%= products[i].name %></td>
                                                    <td><%= products[i].voltage %></td>
                                                    <td><%= products[i].capacity %></td>
                                                    <td><%= products[i].length %></td>
                                                    <td><%= products[i].width %></td>
                                                    <td><%= products[i].height %></td>
                                                    <td><%= products[i].total_height %></td>
                                                    <td><%= products[i].weight %></td>
                                                    <td><%= products[i].model %></td>
                                                    <td><%= products[i].position %></td>
                                                  </tr>
                                               <% } %>
                                              </tbody>
                                            </table>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>