<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">GEL</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>GEL</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/gel.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/gel.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/gel.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <h3 itemprop="name">GEL Series ( AGM )</h3>
                                        <span class="product-sku">
                                            <h1>Features:</h1>
                                            <ul>
                                                <li>
                                                    Capacity Range (C20): 28Ah-3000Ah
                                                </li>
                                                <li>
                                                    Voltage range: 2V, 12V
                                                </li>
                                                <li>
                                                    Designed floating life: 15 years (2V Series) and 10 years (12V Series) under 25 ℃ ± 5 ℃ environment
                                                </li>
                                                <li>
                                                    Cycle life: Under standard conditions, 2V series 25% DOD cycle times is 3000; 12V 2500 series 25% DOD cycle times is 2500
                                                </li>
                                                <li>
                                                    Self-discharge rate: ≤2% / month
                                                </li>
                                                <li>
                                                    Charging ability is excellent
                                                </li>
                                                <li>
                                                    Operating temperature range: -20 ℃ ~ 55 ℃
                                                </li>
                                                <li>
                                                    Shelf life: When the battery is fully charged and placed at 25 ℃, it can stand ambient storage for 2 years, remaining battery
                                                    capacity is still more than 50%. After charging, the battery capacity
                                                    can be restored to 100% of rated capacity.
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="grid__item large--one-twelfths">
                                                                               
                                        <h1>Application</h1>
                                        <ul>
                                            <li>Cable Communication station and exchange station</li>
                                            <li>Wireless Telecommunications station and substation</li>
                                            <li>Electric power, military, and other network communication station</li>
                                            <li>Data and television signal transmission</li>
                                            <li>EPS / UPS</li>
                                            <li>Wind, solar, and others natural power generation</li>
                                            <li>Other deep cycle applications</li>

                                        </ul>
                                        <hr>
                                        <h1>Main product models and application</h1>
                                        <div class="p_table table_scroll">
                                                <table class="table_box">
                                                  <thead>
                                                    <tr>
                                                      <th rowspan="2">Model</th>
                                                      <th rowspan="2">
                                                        NOMINAL <br />
                                                        VOLTAGE (V)
                                                      </th>
                                                      <th rowspan="2">CAPACITY (Ah)</th>
                                              
                                                      <th colspan="4">DIMENSION (mm)</th>
                                                      <th rowspan="2">
                                                        WEIGHT<br />
                                                        (KG)
                                                      </th>
                                                      <th colspan="2">Terminal</th>
                                                    </tr>
                                                    <tr>
                                                      <th>L</th>
                                                      <th>W</th>
                                                      <th>H</th>
                                                      <th>Total<br />Height</th>
                                              
                                                      <th>Model</th>
                                                      <th>Position</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody class="table01">
                                                    <% for(var i=0; i < products.length; i++) { %>
                                                      <tr>
                                                        <td><%= products[i].name %></td>
                                                        <td><%= products[i].voltage %></td>
                                                        <td><%= products[i].capacity %></td>
                                                        <td><%= products[i].length %></td>
                                                        <td><%= products[i].width %></td>
                                                        <td><%= products[i].height %></td>
                                                        <td><%= products[i].total_height %></td>
                                                        <td><%= products[i].weight %></td>
                                                        <td><%= products[i].model %></td>
                                                        <td><%= products[i].position %></td>
                                                      </tr>
                                                   <% } %>
                                                  </tbody>
                                                </table>
                                              </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>